@import '@csstools/normalize.css';

:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-dark-cyan-hover: hsl(158, 42%, 18%);
  --primary-cream: hsl(30, 38%, 92%);

  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-montserrat: 'Montserrat', sans-serif;
  --font-fraunces: 'Fraunces', serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-cream);
  padding: 28px 16px 42px;
  margin: 0;
  position: relative;
}

.production-preview-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(100%, 600px);
  border-radius: 10px;
  overflow: hidden;
  font-family: var(--font-montserrat);
  font-size: 14px;

  &__product-image {
    display: block;
    width: 300px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-white);
    padding: 32px;
  }

  &__category {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: var(--neutral-dark-grayish-blue);
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__product-title {
    font-family: var(--font-fraunces);
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--neutral-very-dark-blue);
    margin: 0;
    margin-bottom: 24px;
  }

  &__product-description {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: var(--neutral-dark-grayish-blue);
    margin-bottom: 29px;
  }

  &__price {
    display: flex;
    align-items: center;
  }

  &__price-current {
    font-family: var(--font-fraunces);
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--primary-dark-cyan);
    margin-inline-end: 19px;
  }

  &__price-net {
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: var(--neutral-dark-grayish-blue);
    text-decoration: line-through;
  }

  &__button-add {
    margin-top: auto;
    border: 0;
    background-color: var(--primary-dark-cyan);
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-white);
    padding: 0.25em 0.75em;;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    min-width: 10ch;
    min-height: 44px;
    height: 48px;
    text-align: center;
    transition: 220ms all ease-in-out;

    &:hover,
    &:active {
      background-color: var(--primary-dark-cyan-hover);
    }

    &:focus {
      outline-style: solid;
      outline-color: transparent;
      box-shadow: 0 0 0 3px var(--neutral-very-dark-blue);
    }
  }

  &__button-icon {
    width: 15px;
    margin: 0 10px;
  }
}

.attribution {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: var(--font-fraunces);
  font-size: 12px;
  line-height: 18px;
  color: var(--neutral-dark-grayish-blue);
  
  & a {
    color: var(--neutral-very-dark-blue);
    text-decoration: none;
  }
}

@media screen and (max-width: 768px){
  .production-preview-card {
    display: flex;
    flex-direction: column;

    &__product-image {
      width: 100%;
    }

    &__content {
      padding: 24px;
    }

    &__price {
      margin-bottom: 20px;
    }
  }
}